<ion-header class="ion-padding ion-text-center ion-no-border">
    <ion-title>Inicio de sesión</ion-title>
</ion-header>
<ion-content class="">
    <form #form="ngForm" (ngSubmit)="login()" class="ion-padding">
        <ion-list>
            <ion-item>
                <ion-label position="floating">
                    <ion-icon name="person-sharp" size="medium"></ion-icon> Usuario
                </ion-label>

                <ion-input type="text" name="email" [(ngModel)]="user.email" required
                    pattern="[a-z0-9._%+-]+@[a-z0-9.-]+\.[a-z]{2,3}$"></ion-input>
            </ion-item>
            <ion-item>
                <ion-label position="floating">
                    <ion-icon name="lock-closed-sharp" size="medium"></ion-icon> Contraseña
                </ion-label>
                <ion-input type="password" name="password" [(ngModel)]=" user.password " minlength="6 " required>
                </ion-input>
            </ion-item>
        </ion-list>
        <ion-button color="dark " class="ion-margin ion-padding" shape="round " expand="block " type="submit "
            [disabled]="form.invalid ">Ingresar</ion-button>
    </form>
</ion-content>
<ion-fab vertical="bottom" horizontal="end">
    <ion-fab-button><ion-icon name="arrow-up-outline"></ion-icon></ion-fab-button>
    <ion-fab-list side="top">
      <ion-fab-button>
        <ion-icon name="logo-facebook">Admin</ion-icon>
      </ion-fab-button>
      <ion-fab-button>
        <ion-icon name="logo-twitter"></ion-icon>
      </ion-fab-button>
      <ion-fab-button>
        <ion-icon name="logo-youtube"></ion-icon>
      </ion-fab-button>
    </ion-fab-list>
  </ion-fab>
