<div id="custom-overlay" [style.display]="splash ? 'flex': 'none'">
    <div class="flb">
        <div class="Aligner-item Aligner-item--top"></div>
        <img src="/assets/img/logo.svg">
        <div class="title-splash">
            <p text-center>
                Relevamiento Visual
            </p>
        </div>

        <div class="name" style="  margin:auto">
            <p>Sebastián Aguirre 4° B</p>
        </div>
        <div class="Aligner-item Aligner-item--bottom"></div>
    </div>
</div>