<ion-header>
  <ion-toolbar mode="ios">
    <ion-buttons slot="start">
      <ion-back-button (click)="navCtrl.navigateForward(['/list', type])"></ion-back-button>
    </ion-buttons>
    <ion-title>Nuevo post</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content padding>
  <form [formGroup]="form">
    <ion-grid>
      <ion-row padding>
        <ion-col size-sm="8" offset-sm="2" style="padding-top: 20px;">
          <app-image-picker
            [showPreview]="form.get('image').value"
            (imagePick)="onImagePicked($event)"
          ></app-image-picker>
        </ion-col>
      </ion-row>
      <ion-row padding>
        <ion-col size="12">
          <ion-item>
            <ion-label position="floating">Título</ion-label>
            <ion-input
              type="text"
              autocomplete
              autocorrect
              formControlName="title"
            ></ion-input>
          </ion-item>
        </ion-col>
        <ion-col size="12">
          <ion-item>
            <ion-label position="floating">Descripción</ion-label>
            <ion-textarea
            rows="6"
              autocomplete
              autocorrect
              formControlName="description"
            ></ion-textarea>
          </ion-item>
        </ion-col>
      </ion-row>

      
    <ion-item lines="none" class="publicar">
      <ion-button
        (click)="onCreatePost()"
        [disabled]="!form.valid || !form.get('image').value"
      >
      <ion-label>Publicar</ion-label>
        <ion-icon name="md-arrow-forward" slot="end"></ion-icon>
      </ion-button>
    </ion-item>
      
    </ion-grid>
  </form>
</ion-content>
