<ion-header class="ion-no-border">
    <ion-toolbar>
        <ion-title>Registrarse</ion-title>
    </ion-toolbar>
</ion-header>

<ion-content class="ion-padding" class="ion-margin">
    <ion-item>
        <ion-label position="floating">Usuario</ion-label>
        <ion-input></ion-input>
    </ion-item>
    <ion-item>
        <ion-label position="floating">Contraeña</ion-label>
        <ion-input></ion-input>
    </ion-item>

    <ion-button color="dark" class="ion-margin" shape="round" expand="block">Registrarte</ion-button>

    <ion-item class="ion-no-border ">
        <ion-label class="ion-text-center ">
            ¿Tienes cuenta?
            <a>Inicia Sesión</a>
        </ion-label>
    </ion-item>
</ion-content>