<!-- <div id="custom-overlay" [style.display]="splash ? 'flex': 'none'">
    <div class="flb">
        <div class="Aligner-item Aligner-item--top">
            <img src="assets/nombre.png" alt="">
        </div>
        <img id="imagen" src="assets/logo.png">
        <div class="Aligner-item Aligner-item--bottom">
            <img src="assets/division.png" alt="">
        </div>
    </div>
</div> -->

<ion-header class="ion-no-border">
    <ion-toolbar class="">
        <ion-title class="titulo">Relevamiento Visual</ion-title>
    </ion-toolbar>
</ion-header>

<ion-content class="fondo">
    <img src="assets/camara.png" alt="" class="imagen-camara">
    <ion-label [hidden]='datosCorrectos' class="datos-incorrectos">Verifique los datos Ingresados</ion-label>
    <ion-item>
        <ion-label position="floating">Correo electrónico</ion-label>
        <ion-input type="text" [(ngModel)]="correo" name="correo"></ion-input>
    </ion-item>
    <ion-item>
        <ion-label position="floating">Contraseña</ion-label>
        <ion-input type="password" [(ngModel)]="clave" name="clave"></ion-input>
    </ion-item>
    <br>

    <div class="botones">
        <ion-button expand="" class="boton-entrar" (click)="onSubmitLogin()">Ingresar</ion-button>
    </div>
    <div class="selector">
        <ion-select (ionChange)="onChange($event.target.value)" placeholder="Ingresar como ... ">
            <ion-select-option *ngFor="let usuario of usuarios" value={{usuario.id}}> {{usuario.nombre}}
            </ion-select-option>
        </ion-select>
    </div>
    
</ion-content>
