 <!--<ion-header>
  <ion-toolbar mode="ios" color="dark">
    <ion-title size="large">picBild</ion-title>
    <ion-avatar slot="end" style="height:40px; width: 40px; margin-right: 8px;" *ngIf="user">
      <img [src]="user ? user.imageUrl : 'Loading...'" (click)="presentAlertLogout()"> 
    </ion-avatar> 
  </ion-toolbar>
</ion-header>

<ion-content padding fullscreen>
  <ion-grid  style="height: 100%">
    <ion-row justify-content-center align-items-center style="height: 100%">
      <ion-col>
        <ion-row size="12">
          <ion-col text-center size-sm="6" offset-sm="3">
            <div class="container prettyAndUgly pretty" (click)="navCtrl.navigateForward(['/list', 'pretty'])">
              <img src="/assets/img/lindo.jpg" alt="Cinque Terre">
              <div class="center">cosas lindas</div>
              <div class="center2">del edificio</div>      
            </div>
          </ion-col>
        </ion-row>
        <ion-row>
          <ion-col text-center size-sm="6" offset-sm="3">
            <div class="container prettyAndUgly ugly" (click)="navCtrl.navigateForward(['/list', 'ugly'])">
              <img src="/assets/img/feo.jpg" alt="Cinque Terre">
              <div class="center">cosas feas</div>
              <div class="center2" style="top: 70%!important;">del edificio</div>              
            </div>
          </ion-col>
        </ion-row>
      </ion-col> -->
      
      <!-- <ion-row>
        <ion-col text-center>
          Welcome to Dashboard!
        </ion-col>
      </ion-row>
      <ion-row>
        <ion-col text-center>
          Your Registered EmailID : {{userEmail}}
        </ion-col>
      </ion-row>
    -->
    
    <!-- </ion-row>
    </ion-grid>  
    
  </ion-content> -->
  
  <!--<ion-content no-padding>
    
    <ion-row class="">
      <ion-col class="bloque height-25 p-5" size="6">
        <div class="fondo">
          <div class="info">
            <h1>POSITIVO</h1>
            <p>Cuidemos lo que tenemos...</p>
            <ion-icon name="arrow-forward"></ion-icon>
          </div>
        </div>
      </ion-col>
      <ion-col class="bloque height-25 right" size="6">
        <img src="assets/img/cosas1.jpg" alt="">
      </ion-col>
    </ion-row>
    <ion-row class="">
      <ion-col class="bloque height-25" size="6">
        <img src="assets/img/cosas7.jpg" alt="">
      </ion-col>
      <ion-col class="bloque height-25 right" size="6">
        <img src="assets/img/cosas3.jpg" alt="">
        
      </ion-col>
    </ion-row>
    <ion-row class="">
      <ion-col class="bloque height-25" size="6">
        <img src="assets/img/cosas4.jpg" alt="">
        
      </ion-col>
      <ion-col class="bloque height-25 right" size="6">
        
        <img src="assets/img/cosas5.jpg" alt="">
      </ion-col>
    </ion-row>
    <ion-row class="">
      <ion-col class="bloque height-25" size="6">
        
        <img src="assets/img/cosas6.jpg" alt="">
      </ion-col>
      <ion-col class="bloque height-25 p-5 right" size="6">      
        <div class="fondo">
          <div class="info">
            <h1>NEGATIVO</h1>
            <p>Mejoremos lo que podamos...</p>
            <ion-icon name="arrow-forward"></ion-icon>
          </div>
        </div>
      </ion-col>
    </ion-row>
    
  </ion-content> -->


  <ion-toolbar>
    <ion-item class="logo" lines="none">
      <h4>MI <span style="color: #b2c6fd;"> EDIFICIO</span></h4>
    </ion-item>
    <div class="avatar" slot="end">
      <img [src]="user ? user.imageUrl : 'Cargando...'" (click)="presentAlertLogout()"> 
    </div>
  </ion-toolbar>

  
  <ion-content scroll-y="false" >
    <div class="center-align">
    <ion-grid>
      <ion-row>
        <ion-col class="lindas" (click)="navCtrl.navigateForward(['/list', 'pretty'])">
          <img src="assets/img/cosas3.jpg" alt="">
          <div class="titulo">
            <h1>COSAS <br> LINDAS</h1>
          </div>  
          
          <ion-icon slot="" name="md-arrow-forward"></ion-icon>
        </ion-col>
      </ion-row>
      <ion-row>
        <ion-col class="feas" (click)="navCtrl.navigateForward(['/list', 'ugly'])">
          <img src="assets/img/cosas8.jpg" alt="">
          <div class="titulo">
            <h1>COSAS <br> FEAS</h1>
          </div> 
          <ion-icon slot="" name="md-arrow-back"></ion-icon>
        </ion-col>         
      </ion-row>
    </ion-grid>
  </div>
  </ion-content>
 
<!--
  <ion-content scroll-y="false" >
    <div class="bg">
    <ion-grid>
      <ion-row>
        <ion-col class="botones" (click)="navCtrl.navigateForward(['/list', 'pretty'])">
          <ion-item lines="none">
            <ion-label><h1>SI</h1></ion-label>
            <ion-icon  name="arrow-forward"></ion-icon>            
          </ion-item>  
        </ion-col>
        <ion-col size="10" class="desc">        
          <p>En esta seccion podras ver y compartir aspectos positivos sobre tu edificio.</p>
        </ion-col>
      </ion-row>
      <ion-row>
        <ion-col class="botones" (click)="navCtrl.navigateForward(['/list', 'ugly'])">
          <ion-item lines="none">
            <ion-label><h1>NO</h1></ion-label>
            <ion-icon  name="arrow-forward"></ion-icon>            
          </ion-item>
        </ion-col>
        <ion-col size="10" class="desc">
          <p>Hay algo que no te gusta? Hazlo publico y ayuda a mejorar tu edifico.  </p>
        </ion-col>
      </ion-row>
    </ion-grid>
  </div>
  </ion-content>

-->


