<ion-header no-border no-shadow >
  <ion-toolbar translucent mode="ios">
      <div class="avatar" slot="end">
        <img [src]="user ? user.imageUrl : 'Cargando...'" (click)="presentAlertLogout()"> 
      </div>
      <ion-title><h4>MI <span style="color: #b2c6fd;"> EDIFICIO</span></h4></ion-title> 
      <ion-buttons slot="start">
          <ion-buttons slot="start">
              <ion-back-button defaultHref="/gallery"></ion-back-button>
          </ion-buttons>
      </ion-buttons>
  </ion-toolbar>
</ion-header>

<div class="blank" *ngIf="spinner">
  <ion-spinner color="primary"></ion-spinner>
</div>

<ion-content fullscreen>

  <ion-grid *ngIf="isLoading">
    <ion-row>
      <ion-col size="12" size-sm="8" offset-sm="2" text-center>
        <ion-spinner color="primary"></ion-spinner>
      </ion-col>
    </ion-row>
  </ion-grid>
  <ion-grid *ngIf="!isLoading && (!posts || posts.length <= 0)">
    <ion-row>
      <ion-col size="12" size-sm="8" offset-sm="2" text-center>
        <p>Todavia no se han cargado fotos.</p>
      </ion-col>
    </ion-row>
  </ion-grid>
  <ion-grid *ngIf="!isLoading && posts.length > 0">

    <ion-row class="featured">
      <ion-col size="12">
        <div (click)= "navCtrl.navigateForward(['/details', featured.id])">
        <img class="featured-img" [src]="featured.imageUrl">
        <div class="bottom-line">
          <p>
            Más votada
          </p>
          <ion-item  class="top-line" lines="none">          
        <ion-icon class="corazon" *ngIf="!votada(featured)" slot="end" src="assets/img/heart.svg"></ion-icon>
        <ion-icon class="corazon" *ngIf="votada(featured)"  slot="end" src="assets/img/heart-full.svg"></ion-icon>
            <ion-label text-right>
              {{featured.votes.length}}
            </ion-label>
          </ion-item>
        </div>
      </div>
      </ion-col>
    </ion-row>

    <ion-row>
      <div class="pins">
      <div class="pin" size="6" *ngFor="let post of posts">
          <div  [routerLink]="['/', 'details', post.id]">
              <img [src]="post.imageUrl">
          </div>      
      <div class="info">
        <ion-item lines="none">          
        <ion-icon class="corazon" *ngIf="!votada(post)" slot="end" src="assets/img/heart.svg"></ion-icon>
        <ion-icon class="corazon" *ngIf="votada(post)" slot="end" src="assets/img/heart-full.svg"></ion-icon>
          <ion-label text-right *ngIf="post.votes && post.votes.length > 0">
            {{post.votes.length}}
          </ion-label>
        </ion-item>
      </div>
    </div>
  </div>
    </ion-row>

<!--end nuevo-->

    <!--<ion-row>
      <ion-col size="12" size-sm="8" offset-sm="2" text-center>
        <ion-virtual-scroll
        [items]="posts"
        approxItemHeight="70px"
      >
          <ion-item
            [routerLink]="['/', 'details', post.id]"
            detail
            *virtualItem="let post"
          >
            <ion-thumbnail slot="start">
              <ion-img [src]="post.imageUrl"></ion-img>
            </ion-thumbnail>
            <ion-label>
              <h2>{{ post.title }}</h2>
              <p style="font-weight: 800">{{ post.date ? (post.date | date: 'medium') : '' }}</p>
            </ion-label>
            <ion-badge *ngIf="post.votes && post.votes.length > 0" slot="end" mode="ios">{{post.votes.length}}</ion-badge>
          </ion-item>
        </ion-virtual-scroll>
      </ion-col>
    </ion-row>-->


  </ion-grid>

  <ion-fab vertical="bottom" horizontal="end" slot="fixed">
    <ion-fab-button [routerLink]="['/', 'new-post', type]">
      <ion-icon name="camera"></ion-icon>
    </ion-fab-button>
  </ion-fab>
</ion-content>

